/* this css page for smaller divices */
@media  screen and (max-width:575px) {
.inner-card-heading{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size:20px;
    text-align: center;

}
.bg-video-mobile{
  position: absolute;
 top: 50%;
 left: 50%;
  min-width: 30%;
  max-height: 305;
  transform: translate(-30%, -30%);
  z-index: -1;
  object-fit: cover;
}
 .mic-img {
        height: 30px;

    }

.card-1-para {
        font-family: sans-serif;
        color: rgb(252, 252, 252);
        padding-left: 80px;
        font-size: 10px;
 }
 .first-page .content {
  height: 100vh;
  position: relative;
  z-index: 1;
  color: white; /* or as needed */
  background-image: linear-gradient(to bottom,rgb(8, 7, 29) ,transparent);

}
.mobile-content{
        margin-top:300px;
        text-align: center;
        background-image: linear-gradient(to top, rgb(8, 7, 29), transparent);
        padding-bottom: 50px;
   
}
#claim-button{
    color: #fff;
    text-align: center;
    background-color: #2563eb;
    border-radius: 8px;
    border:none;
    width: 100%;
    height: 44px;
    padding: 12px 24px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}
#watch-button{
    color: #fffbfb;
    text-align: center;
    border-radius: 8px;
    border: 2px solid white;
    width:100%;
    height: 44px;
    padding: 12px 24px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    background-color: inherit;
    margin-bottom: 10px;
}
.scrolling-page-heading{
     color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight:500;
    text-align: center;
}
.scrolling-img{
    height: 40px;
    width:auto;
   
}
.podcast-section-heading{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight:500;
    text-align: center;
    padding-bottom: 30px;
}
.podcast-section-para{
    color: #CBD5E1;
    text-align: center;
    font-size: 15px;
}
.fourth-page-heading{
    font-size:25px;
    font-weight:600;
    padding: 50px;
}
.feedback-button {
 font-size: 15px;
}
.feedback-card{
    color: white;
    height:auto;
    width:auto;
    background-color: rgb(57, 65, 73);
    border-radius: 15px;
    font-family: sans-serif;

}
.feedback-card h5{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.feedback-card p{
    font-size: 12px;
}
.feedback-img{
    height: 40px;
    margin: 15px;
}
.newsletter-heading{
    font-family: sans-serif;
    font-size: 25px;
    font-weight:500;
    color: #F1F5F1;
}
.newsletter-section h4{
    font-weight: 400;
    font-size: 20px;
}
.para{
    padding: 20px 0px 20px 10px;
}
.footer-list-card{
    width: 100%;
    color: #697687;
    font-family: sans-serif;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
  
}
.fifth-page-heading{
    font-size: 25px;
    padding-bottom: 10px;
}
.para{
    font-size: 15px;
}
}
